<div class="edit-page">
  <% if @user.artist == false %>
    <div class="profile-edit">
      <%= simple_form_for @user do |f| %>
        <%= f.input :user_name %>
        <%= f.input :password %>
        <%= f.input :email %>
        <%= f.input :avatar, as: :file %>
        <%= f.input :artist %>
        <%= f.submit "Update details" %>
      <% end %>
    </div>

  <% else %>
    <div class="profile-edit">
      <%= simple_form_for @user do |f| %>
        <%= f.input :user_name %>
        <%= f.input :password %>
        <%= f.input :email %>
        <%= f.input :avatar, as: :file %>
        <%= f.input :artist, label: "I am an artist"%>
    </div>
    <div class="profile-artist">
        <%= f.input :artist_name %>
        <%= f.input :location %>
        <%= f.input :description %>
        <%= f.input :genre %>
        <%= f.input :price %>
        <%= f.input :spotify_link %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Update details" %>
      <% end %>
    </div>
  <% end %>
</div>
