<div class="listings log-in">

  <% if @artists.count == 0 %>
  <%= "Oops! There are no results for your search! Become an artist or search for another..." %>
  <% else %>


  <% @artists.each do |artist| %>
    <div class="card-small">
      <% artist.photo.attached? ? photo_key = artist.photo.key : photo_key = "fp71jjubnm5abb4nx3exwvb5ow4u"%>
      <div class="card-image" style="background-image: url('https://res.cloudinary.com/dyyo3sihs/image/upload/v1582723530/<%= photo_key %>')">
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="card-title">
            <h4><%= link_to artist.artist_name, user_path(artist), class: "card-link" %></h4>
            <h6><%= artist.genre %></h6>
          </div>
          <p class="card-location"><i class="fas fa-map-marker-alt"></i> <%= artist.location %></p>
          <p class="card-description"><%= artist.description[0, 100]%> . . . <%= link_to "more", user_path(artist), class: "card-link" %></p>
        </div>
        <div class="card-price-and-book">
          <h5>£<%= artist.price %></h5>
          <%= link_to "Book now", new_user_booking_path(artist), class: "btn-light" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% end %>
