<div class="d-flex">
  <% @artists.each do |artist| %>
  <div class="card" style="width: 18rem;">
  <%= cl_image_tag artist.photo.key, :width => 300 %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to artist.artist_name, user_path(artist) %></h5>
    <h6><%= artist.location %></h6>
    <p class="card-text"><%= artist.description %></p>
    <%= link_to "Book now", root_path, class: "btn-light" %>
  </div>
</div>
  <% end %>

</div>


