<%#= link_to "turned up", root_path  %>

<h1>All artists here</h1>


<div class="artist-card">
  <% @artists.each do |artist| %>
    <p><%= cl_image_tag artist.photo.key, :width => 300 %></p>
    <p><strong><%= link_to artist.artist_name, user_path(artist) %></strong></p>
    <p><%= artist.location %></p>
    <span><%= artist.genre %></span>
    <span><%= artist.price %></span><br>
    <%#= link_to "Book now", new_user_booking_path %>
  <% end %>
</div>
