<%#= link_to "turned up", root_path  %>

<% if @user.artist %>

  <h1><%= @user.artist_name %></h1>

  <p><%= cl_image_tag @user.avatar.key, :radius=>"max", :width => 150 %></p>

  <p><%= cl_image_tag @user.photo.key %></p>

  <p><%= @user.description %></p>
  <p><%= @user.location %></p>
  <span><%= @user.genre %></span>
  <span><%= @user.price %></span>
<%#= link_to "Book now", new_user_booking_path %>
<% else %>

<h1><%= @user.user_name %></h1>
  <% @user.avatar.attached? ? avatar_key = @user.avatar.key : avatar_key = "v4yr2mopirs85v96tbbc2mxfiarp"%>
  <p><%= cl_image_tag avatar_key, :radius=>"max", :width => 150 %></p>
  <p><%= @user.email %></p>
  <p><strong>Bookings</strong></p>

  <% @user.bookings.each do |booking| %>
    <p><%= booking.artist.artist_name %> | <%= booking.date %></p>
  <% end %>

<% end %>

<% if @user == current_user %>
  <p><%= link_to "Change password", edit_user_password_path %></p>
<% end %>

<% if @user.artist == true %> <br>
--------------------------------
  <h3>Reviews</h3>
--------------------------------
    <% @user.reviewed.each do |review| %>
      <h4><%= "★" * review.rating %><%= "☆" * (5 - review.rating) %></h4>
      <h4><%= "Posted by #{review.user.user_name}" %></h5>
      <p><%= review.content %></p>
        <% current_user.nil? ? u = false : u = current_user.id %>
        <% if review.user_id == u %>
          <%= link_to "Delete review", review_path(review), method: :delete %> |
          <%= link_to "Edit your review",  edit_review_path(review) %>
        <% end %>
    <% end %>
    <br> <%= link_to "Add a review", new_user_review_path(@user) %>
  <% end %>
