<% if current_user.nil? %>
  <%= render "shared/userprofile.html.erb" %>
<% else %>
  <% if @user.id == current_user.id  %>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Bookings</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <%= render "shared/userprofile.html.erb" %>
        <p><%= link_to "Edit Profile", edit_user_path(@user), class: "btn-light" %></p>
        <p><%= link_to "Change password", edit_user_password_path, class: "btn-sub" %></p>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <%= render "shared/userbookings.html.erb" %>
        <p><%= link_to "Edit Profile", edit_user_path(@user), class: "btn-light" %></p>
        <p><%= link_to "Change password", edit_user_password_path, class: "btn-sub" %></p>
      </div>
    </div>
  <% else %>
    <%= render "shared/userprofile.html.erb" %>
  <% end %>
<% end %>
