<%#= link_to "turned up", root_path  %>

<% if @user.artist %>

  <h1><%= @user.artist_name %></h1>

  <p><img src="<%= @user.photo %>" style="width:600px;height:400px";></p>

  <p><%= @user.description %></p>
  <p><%= @user.location %></p>
  <span><%= @user.genre %></span>
  <span><%= @user.price %></span>
<%#= link_to "Book now", new_user_booking_path %>
<% else %>

<h1><%= @user.user_name %></h1>

  <p><img src="<%=@user.avatar%>"></p>
  <p><%= @user.email %></p>
  <!-- <p><%= link_to "Change password", edit_user_password_path %></p> -->

<% end %>

<% if @user.artist == true %> <br>
--------------------------------
  <h3>Reviews</h3>
--------------------------------
    <% @user.reviewed.each do |review| %>
      <h4><%= "★" * review.rating %><%= "☆" * (5 - review.rating) %></h4>
      <h4><%= "Posted by #{review.user.user_name}" %></h5>
      <p><%= review.content %></p>
        <% if review.user_id == current_user.id %>
          <%= link_to "Delete review", review_path(review), method: :delete %> |
          <%= link_to "Edit your review",  edit_review_path(review) %>
        <% end %>
    <% end %>
    <br> <%= link_to "Add a review", new_user_review_path(@user) %>
  <% end %>
