<% if @user.artist %>

  <div class="show-page">
    <div class="card-small">
      <% @user.photo.attached? ? photo_key = @user.photo.key : photo_key = "fp71jjubnm5abb4nx3exwvb5ow4u"%>
      <div class="show-image" style="background-image: url('https://res.cloudinary.com/dyyo3sihs/image/upload/v1582723530/<%= photo_key %>')">
        <%= link_to "Book now", new_user_booking_path(@user), class: "btn-light-lrg" %>
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="card-title">
            <h1><%= @user.artist_name%></h1>
            <h2>£<%= @user.price %></h2>
          </div>
          <p class="card-location"><i class="fas fa-map-marker-alt"></i> <%= @user.location %></p>
          <p class="card-description"><%= @user.description %></p>
        </div>
      </div>
    </div>

    <div class="show-page-right">
      <div class="show-page-reviews">
      <% @user.reviewed.each do |review| %>
        <div class="show-review">
          <h4><%= "★" * review.rating %><%= "☆" * (5 - review.rating) %></h4>
          <p><%= review.content %></p>
          <p class="show-review-user-name"><em><%= "Posted by #{review.user.user_name}" %></em></p>
          <% current_user.nil? ? u = false : u = current_user.id %>
          <% if review.user_id == u %>
            <%= link_to "✎",  edit_review_path(review), class:"text-white" %> |
            <%= link_to "✖", review_path(review), method: :delete, class:"text-white" %>
          <% end %>
        </div>
      <% end %>
      </div>
      <div class="show-page-add-review">
        <%= simple_form_for([@user, @review]) do |f| %>
          <div class="d-flex justify-content-around">
            <p><%= f.input :rating, collection: (1..5).to_a, label: false, id:"review_rating" %></p>
          </div>
          <%= f.input :content, label: false, placeholder: "Share details about your experience!"%>
        <%= f.button :submit, "submit review", class:"btn-light-full-size" %>
        <% end %>
      </div>
    </div>
  </div>

<% else %>

  <div class="user-profile">
    <h1><%= @user.user_name %></h1>
    <% @user.avatar.attached? ? avatar_key = @user.avatar.key : avatar_key = "v4yr2mopirs85v96tbbc2mxfiarp"%>
    <p><%= cl_image_tag avatar_key, :width => 150 %></p>
    <p><%= @user.email %></p>
  </div>

<% end %>





