<% if @user.artist %>

  <div class="show-page">
    <div class="card-small">
      <% @user.photo.attached? ? photo_key = @user.photo.key : photo_key = "by547qwzb0s6o2qefa0i31o7fpeb"%>
      <div class="show-image" style="background-image: url('https://res.cloudinary.com/dyyo3sihs/image/upload/v1582723530/<%= photo_key %>')">
        <%= link_to "Book now", new_user_booking_path(@user), class: "btn-light-lrg" %>
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="card-title">
            <h1><%= @user.artist_name%></h1>
            <h2>£<%= @user.price %></h2>
          </div>
          <p class="card-location"><i class="fas fa-map-marker-alt"></i> <%= @user.location %></p>
          <p class="card-description"><%= @user.description %></p>
        </div>
      </div>
      <% if @user.spotify_link.present? %>
          <% spotify_link = @user.spotify_link %>
          <% spotify_link.gsub!("open.spotify.com/","open.spotify.com/embed/") %>
          <iframe src=<%= spotify_link %>, width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <% end %>
    </div>

    <div class="show-page-right">
      <div class="show-page-reviews">
      <% @user.reviewed.each do |review| %>
        <div class="show-review">
          <h4><%= "★" * review.rating %><%= "☆" * (5 - review.rating) %></h4>
          <p><%= review.content %></p>
          <p class="show-review-user-name"><em><%= "Posted by #{review.user.user_name}" %></em></p>
          <% current_user.nil? ? u = false : u = current_user.id %>
          <% if review.user_id == u %>
            <%= link_to "Delete review", review_path(review), method: :delete %> |
            <%= link_to "Edit your review",  edit_review_path(review) %>
          <% end %>
        </div>
      <% end %>
      </div>
      <div class="show-page-add-review">
        <%= link_to "Add a review", new_user_review_path(@user), class: "btn-light-full-size" %>
      </div>
    </div>
  </div>

<% else %>

  <div class="user-profile">
    <div class="user-card">
      <div class="user-card-top">
        <% @user.avatar.attached? ? avatar_key = @user.avatar.key : avatar_key = "v4yr2mopirs85v96tbbc2mxfiarp"%>
        <div class="user-card-image" style="background-image: url('https://res.cloudinary.com/dyyo3sihs/image/upload/v1582723530/<%= avatar_key %>')">
        </div>
        <div class="user-card-top-right">
          <%= link_to "Edit profile", edit_user_path(@user), class: "btn-light" %>
          <div class="user-card-top-details">
            <h1><%= @user.user_name %></h1>
            <div class="user-card-break"></div>
            <h3><%= @user.email %></h3>
          </div>
        </div>
      </div>
      <div class="user-card-bottom">
        <h3>You've booked <%= @user.bookings.count %> artists</h3>
      </div>
    </div>
  </div>

<% end %>





